.nav-link {
    font-size: 1.125rem;
    cursor: pointer;
    transition: color 0.3s;
    text-decoration: none;
    border-radius: 5px;
}

.link-text {
    font-size: inherit;
    white-space: nowrap;
    margin: 6px 20px 6px 20px;
}

.nav-link:hover {
    background-color: transparent;
    text-decoration: underline; 
}